<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twig Tester</title>
</head>
<body>
    Hello {{ name }}
    {% set variable = 'test' %}
    {{ variable|striptags|title }}
</body>
</html>